/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/bundle/
*.bundle
*.so
*.o
*.a
*.lock
mkmf.log
.DS_Store

/examples/data/*.png
/examples/data/*.gif
/examples/data/*.dat
/script/include
/script/temp
